<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="app">
<head>
	<!--	I did few tests to update the libraries to the latest, but I observed inconsistent results  -->
	<!--	It Must be a mismatch with the bootstrap version and the metawidget version-->
	<link href="lib/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
	<link href="lib/bootstrap/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
	<script src="lib/jquery/jquery.min.js"></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/metawidget/metawidget-core.min.js"></script>
	<script src="lib/metawidget/metawidget-bootstrap.min.js"></script>
	<script src="lib/metawidget/metawidget-angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/directives.js"></script>
</head>
<body ng-controller="simpleController">
	<div style="width: 500px; margin: 50px auto">
		<form class="form-horizontal">
			<metawidget ng-model="person" read-only="readOnly" config="metawidgetConfig">
			</metawidget>
		</form>
	</div>
</body>
</html>